html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
	margin: 0;
    padding: 0;
	color:#000;
	/*font-family: "Courier new",Helvetica,sans-serif;*/
}

header,main {
	height:100%;
	min-height: 401px;
}

.cd-fixed-bg {
	min-height: 100%;
	background-size: 100%;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
    height: 100vh;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/bg-1.jpg");
}

.cd-scrolling-bg {
	min-height: 100%;
}

.top_wrapper,
.top_wrapper-2 {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.top_wrapper .top_desc,
.top_wrapper-2 .top_desc-2{
    display: table-row;
}

.top_wrapper .top_desc .top_centered,
.top_wrapper-2 .top_desc-2 .top_centered-2 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.top_wrapper .top_text,
.top_wrapper-2 .top_text-2 {
    display: inline-block;
	color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.top_wrapper .top_text h1,
.top_wrapper-2 .top_text-2 h1 {
    display: inline-block;
    padding: 15px 35px 10px;
	font-weight: normal;
    font-size: 120px;
    margin: 20px;
	border: 1px solid #fff;
}

.top_wrapper .top_text  p,
.top_wrapper-2 .top_text-2  p{
	margin: 0 20px;
    padding: 15px 20px;
    font-size: 25px;
    font-weight: bolder;
}


 main {
	height: 100%;
}
 
section{
	padding:70px 0 40px;
}

.section_header{
	text-align: center;
	text-transform: uppercase;
}

.section_header h1{
	margin: 0 0 15px;
    font-size: 25px;
	letter-spacing: 1px;	
}

.section_header p {
    display: inline-block;
    margin: 0 0 90px;
	letter-spacing: 1px;
    font-size: 16px;
}

.desc_wrap p:after,
.social h4:after{
	content: "";
    height: 1px;
    left: 50%;
    margin-left: -80px;
    margin-top: 40px;
    position: absolute;
    width: 160px;
    background-color: #222;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.desc_container,
.link_container,
.footer_container {
	margin-left: -15px;
    margin-right: -15px;
	overflow: hidden;
	position: relative;
}

.desc_container h3{
	text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 35px;
	letter-spacing: 1px;
}

.desc_container_left, 
.desc_container_right{
	width: 49%;
	float:left;
	padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.desc_container_left{
	margin-right:20px;
	border-radius: 3px;
	padding-top: 15px;
	-moz-border-radius:3px;
    -webkit-border-radius: 3px;
	background: rgb(226, 223, 225);
}

.desc_container_left p{
	margin-bottom: 25px;
	text-align: justify;
}

.desc_container_left p:nth-child(2){
	font-weight: bold;
}

.desc_container_right {
	position:absolute;
	right: 0;
    top: 0;
    bottom: 0;
	padding: 0;
}

.slider {
    position: relative;
    height: 100%;
}

.slider ul{
	margin:0;
}

.slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: clip .7s ease-in-out, z-index 0s .7s;
    display: table;
}

/*
@media screen and (max-width: 700px) {
    .left {
        width: 100%;
        height: 30%;
    }
    .slider {
        width: 100%;
        height: 70%;
    }
}
*/

.news_content{
	margin: 20px 0;
	text-align:center;	
    font-size: 18px;
}

.spoiler_body { 
	display:none; 
	}
	
.spoiler_links { 
	text-decoration:underline; 
}

.news_content span.data {
    background: rgb(226, 223, 225);
    color: #000;
    font-style: italic;
    padding: 0 20px;
}

.spoiler_body p{
	text-align: justify;
    color: rgb(99, 98, 98);
}

.news_container a{
	color: #000;
	text-decoration: underline;
	font-size: 18px;
}

#block_id p{
	padding: 10px 0;
	text-align: justify;
}

section.bg-image {
    padding: 70px 0 40px;
}

.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/bg-2.jpg");
}

.top_wrapper-2 {
    position: relative;
}

.top_wrapper-2 .top_text-2 h1,
.top_wrapper-2 .top_text-2  p{
	font-style:italic;
	font-weight: 100;
}

.top_wrapper-2 .top_text-2 h1{
	font-size:35px;
	margin:0;
	border:none;
}

.top_wrapper-2 .top_text-2  p{
	font-size:20px;
}

section.portfolio {
    padding-top: 30px;
}

#gallery{
	position:relative;
}

.client_left {
    width: 29%;
    margin-right: 10px;
    float: left;
}

.client_right {
    width: 69%;
    float: left;
    text-align: justify;
}

.clear {
clear:both;
font-size:0;
overflow:hidden; 
}

.contact{
	text-align: center;
	padding: 15px 0;
}

.contact_tel,
.contact_mail,
.social_icon_vk,
.social_icon_fb,
.social_icon_inst{
	padding-top: 15px;
}

.tel,
.mail,
.vk,
.fb,
.inst{
	display: inline-block;
    vertical-align: middle;
	padding-right: 15px;
}
.contact span{
	font-size: 25px;
}

.contact a{
	font-size: 25px;
	color: #000;
}

.social{
	padding-top: 50px;
}

.social h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
	margin: 0 0 60px;
}

.social_icon{
	padding-top: 15px;
}

.link_container p{
	text-align: center;
    font-size: 18px;
    margin: 0;
}

footer{
	margin-top: 50px;
	border-top: 1px solid #000;
}

.footer_container {
	padding: 15px 15px 40px;
	text-align: center;
}

.logo{
	display: inline-block;
}

.menu ul {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    font-size: 18px;
    line-height: 14px;
    color: #fff;
}

.menu li {
    display: inline-block;
    margin-right: 54px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    display: block;
    height: 40px;
    line-height: 40px;
	color: #000;
}

.footer_container p{
	margin: 15px 0;
    padding: 5px 15px;
    color: #000;
    border: 1px solid #000;
    background: white;
    font-size: 45px;
    font-weight: normal;
}

.footer_container span{
	padding: 10px 0;
    color: #000;
	font-size: 12px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
