@media (min-width: 768px) {
	.container,
	.gallery_container	{
		width: 750px;
	    box-sizing: border-box;
		}
	.gallery_container	{
		margin: 0 auto;
	}
		
}

@media (min-width: 992px) {
	.container,
	.gallery_container	{
		width: 970px;
	    box-sizing: border-box;}
	.gallery_container	{
		margin: 0 auto;
	}
}


@media (min-width: 1200px) {
	.container,
	.gallery_container {
		width: 1170px;
	    box-sizing: border-box;
		margin: 0 auto;
		}
}

@media (max-width: 992px) {
	.section_header{
		width: 95%;
		margin: 0 auto;
	}
	
	.desc_container_left, 
	.desc_container_right,
	#gallery	{
		width: 95%;
		float:none;
		margin: 0 auto 35px;
	}
	
	.desc_container_right{
		position: relative;
		margin: 0 auto;
		}
		
	.menu li{
        margin-right: 20px;
	}
}

@media (max-width: 768px) {
	.section_header{
		width: 80%;
		margin: 0 auto;
	}
	
	.desc_container_left, 
	.desc_container_right,
	#gallery	{
		width: 90%;
		float:none;
        margin-bottom: 35px;
	}
	
	.callbacks img{
		height: 400px !important;
	}
	
	.menu li{
		display: block;
        margin-right: 0;
	}	
}

@media (max-width: 480px) {

	header{
		min-height: 640px;
	}
	
	h1,h2,h3,p
	{
		font-weight: normal !important;
	}

	.section_header{
		width: 95%;
		margin: 0 auto;
	}
	
	.desc_container_left, 
	.desc_container_right,
	#gallery	{
		width: 90%;
		float:none;
        margin-bottom: 35px;
	}
}

@media (max-width: 420px) {
	.top_wrapper .top_text h1{
		font-size: 85px;
	}
	
	h3.city-name{
		font-size: 14px;
	}
	
	.menu li{
		display: block;
        margin-right: 0;
	}	

}

@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
  }
